# dependencies
/node_modules

# production
/dist

# testing
/coverage

# misc
package-lock.json
yarn.lock
.DS_Store
.idea
.vscode/
.envrc
npm-debug.log

storybook-static
.talismanrc
.scannerwork
test/lint-report.json
